<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python test</title>
</head>
<body>
    <h1>{{ hello }}</h1>
    <h2>{{ arr_list }}</h2>
    <h2>{{ arr_list.0 }} {{ arr_list.2 }}</h2>
    <h2>{{ object.name }} {{ object.age }}</h2>
</body>
</html>